@import "variables";

// Global overrides
body {
	font: normal 14px/24px $base-font-family;
	color: $base-font-color;
	position: relative;
}

a {
	color: $brand-color;

	&:hover {
		color: darken($brand-color, 20);
	}
}


// Global Styles
#mainframe {
	min-width: 320px;

	@media(min-width: 768px){
		&.validate {
			#wrapper {
				margin-bottom: 525px;
			}
			
			#footer {
				min-height: 525px;
			}
		} // END Validate
	} // END MQ
} // END Mainframe

#wrapper {
	z-index: 2;
	background: #fff;
	position: relative;

	@media (min-width: 768px){
		margin-bottom: 454px;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}
} // END Wrapper

.title {
	text-transform: uppercase;
}

section {
	.title {
		font-size: 22px;
	}
}