.alert-msg {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	-webkit-transform: translateZ(0);

	&.error {
		background: #cd3535;
	}

	&.success {
		background: #35cd6e;
	}

	.close {
		margin-left: 20px;
		font-size: 26px;
	}
}