#banner-wrapper {
	background: url('../images/banner.jpg') no-repeat 0 0;
	background-size: cover;
	min-height: 600px;
	position: relative;

	@media (min-width: 768px) {
		min-height: 700px;
	}

	&:before {
		content: "";
		background: rgba(30, 151, 194, 0.6);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
} // Banner Wrapper

#banner {
	padding-top: 120px;
	position: relative;
	color: #FFF;
	z-index: 1;

	@media (min-width: 768px) {
		padding-top: 200px;
	}

	h2 {
		margin-bottom: 40px;
	}

	.agency-name {
		font-size: 16px;
		display: block;
	}

	.banner-text {
		font-size: 40px;
		display: block;
	}

	.logo-holder {
		position: relative;

		img {
			max-width: 100%;
			width: 210px;
		}
	}
} // Banner