.btn-brand {
	height: 34px;
	overflow: hidden;
	color: #FFF;
	padding: 6px 36px;
	letter-spacing: 2px;
	border: 2px solid #FFF;
	text-transform: uppercase;
	position: relative;
	background-color: transparent;

	&:after {
		content: attr(data-hover);
		margin-top: 40px;
		display: block;
	}

	&:hover, &:focus {
		color: #FFF;
		outline: none;
		box-shadow: none;

		span {
			margin-top: -60px;
			display: block;
			transition: margin 0.4s ease-in-out;
		}
	}

	&.btn-sm {
		padding: 5px 10px;
	}

	&.btn-lg {
		padding: 10px 16px;
	}

	&.brand-color {
		color: $brand-color;
		border-color: $brand-color;
	}
} // END Button

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}

@-o-keyframes rotation {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(359deg); }
}
@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.btn {
	&.sending-light {
		background: #fff;
		color: $base-font-color;
	  pointer-events: none;
	  padding-left: 45px;
	  position: relative;
	  transition: all .3s ease;

	  &:before {
		  content: "";
		  display: inline-block;
		  height: 20px;
		  width: 20px;
		  position: absolute;
		  -webkit-animation: rotation .6s infinite linear;
		  -moz-animation: rotation .6s infinite linear;
		  -o-animation: rotation .6s infinite linear;
		  animation: rotation .6s infinite linear;
		  border-left: 3px solid rgba(68, 68, 68, 0.2);
		  border-right: 3px solid rgba(68, 68, 68, 0.8);
		  border-bottom: 3px solid rgba(68, 68, 68, 1);
		  border-top: 3px solid rgba(255, 255, 255, 0.8);
		  border-radius: 100%;
		  left: 15px;
		}
	}

	&.sending {
		background: $brand-color;
		color: #FFF;
	  pointer-events: none;
	  padding-left: 45px;
	  position: relative;
	  transition: all .3s ease;
		
		&:before {
		  content: "";
		  display: inline-block;
		  height: 20px;
		  width: 20px;
		  position: absolute;
		  -webkit-animation: rotation .6s infinite linear;
		  -moz-animation: rotation .6s infinite linear;
		  -o-animation: rotation .6s infinite linear;
		  animation: rotation .6s infinite linear;
		  border-left: 3px solid rgba(103, 210, 248, 0.2);
		  border-right: 3px solid rgba(103, 210, 248, 0.8);
		  border-bottom: 3px solid rgba(103, 210, 248, 1);
		  border-top: 3px solid rgba(255, 255, 255, 0.8);
		  border-radius: 100%;
		  left: 15px;
		}
	}
}