.owl-pagination {
	text-align: center;

	.owl-page {
		display: inline-block;
    margin-right: 10px;

		&.active{
			span {
				background: #aaa;
			}
		} // Active carosel dot

		span {
			display: inline-block;
			background: #eee;
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
		}
	} // Owl Dot
} // Owl Dots