.hero-banner {
	padding: 30px 0;
	font-size: 18px;

	@media(max-width: 767px){
		text-align: center;
	}

	p {
		margin-bottom: 0;
		margin-top: 5px;

		@media(max-width: 767px){
			margin-bottom: 10px;
		}
	}
}