.navbar-default {
	background-color: transparent;
	border: none;
	padding: 20px 0;
	margin-bottom: 0;
	border-radius: 0;
	transition: background-color 0.2s ease-in;

	.navbar-right {
		margin-right: 0;
	}

	.navbar-nav{
		li{
			a{
				color: #FFF;
				outline: none;

				@media (min-width: 768px) and (max-width: 991px){
					&:not(.btn) {
						padding: 10px;
					}
				}

				&:hover, &:focus {
					color: #FFF;
				}

				&.btn-sm {
					@media(min-width: 768px){
						margin-top: 8px;
						margin-left: 20px;
					}

					@media (max-width: 991px) {
						margin-top: 4px;
					}
					
					&:hover {
						color: $brand-color;
					}
				} // END Button small

				&.btn-brand {
					&:hover, &:focus {
						color: #FFF;
					}
				} // Button brand
				
			} // END <a>
		} // END <li>
	} // END Navbar <nav>

	.navbar-brand {
		color: #FFF;
		line-height: 14px;
		
		&:hover, &:focus {
			color: #FFF;
		}

		.brand-name {
			font-size: 18px;
			font-weight: 500;
		}

		.slogan {
			font-size: 12px;
			font-weight: 300;
		}
	} // Navbar Brand

	.navbar-toggle {
		color: #FFF;
		border: 2px solid #FFF;

		.icon-bar {
			background-color: #FFF;
		}

		&:hover {
			background: transparent;
		}
	}

	&.navbar-fixed-top {
		-webkit-transform: translateZ(0);
		min-width: 320px;
	}

	&.navbar-page {
		@media (min-width: 480px) and (max-width: 767px){
			.navbar-header {
				float: left;
			}

			.navbar-right {
				float: right;
			}
		}

		@media (max-width: 479px){
			.navbar-header {
				text-align: center;
				margin: 0;

				a {
					display: block;
					float: none;
				}
			}

			.navbar-right {
				display: none;
			}
		}
	} // END Navbar Page
} // END Navbar default