#page-banner {
	background: url('../images/banner-wireframe.jpg') no-repeat 50% 50%;
	background-size: cover;
	min-height: 400px;
	position: relative;
	padding-bottom: 40px;

	&:before {
		content: "";
		background: rgba(30, 151, 194, 0.6);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.logo-holder {
		margin-bottom: 20px;
	}

	.banner-content {
		padding-top: 120px;
		position: relative;
		color: #FFF;
		z-index: 1;
		text-align: center;

		p {
			font-size: 18px;
			font-weight: 300;
		}

		.callout {
			font-size: 24px;
			text-transform: uppercase;
			line-height: normal;
			margin-top: 20px;
		}

		.summary {
			&:after {
				content: "";
				display: block;
				width: 30px;
				height: 3px;
				background: #FFF;
				margin: 0 auto;
			}
		}
	} // Banner Content
}