.preload {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba($brand-color, 1);
	z-index: 1040;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #FFF;
	min-width: 320px;

	.content {
		width: 300px;
		height: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -150px;
		margin-top: -125px;
		text-align: center;

		img {
			width: 200px;
			max-width: 100%;
		}
	}
}

.spinner {
  margin: 60px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: darken($brand-color, 20);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;

  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}