#about {
	background: url('../images/banner-board.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	padding: 60px 0;
	position: relative;

	.container {
		position: relative;
		z-index: 2;
	}

	.title {
		margin-bottom: 40px;
	}

	p {
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 30px;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
}