#footer {
	min-height: 454px;
	background: #333333;
	color: #FFF;
	padding: 60px 0 30px;
	
	@media (min-width: 768px){
		position: fixed;
		z-index: 1;
		bottom: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	h4 {
		margin-bottom: 30px;
		margin-top: 0;
	}

	p {
		letter-spacing: 2px;
	}

	.social-icons {
		margin: 20px 0 40px;

		a {
			color: #FFF;
			margin-right: 10px;
		}
	} // END Social icons

	.form-control {
		background: rgba(0, 0, 0, 0.3);
		border: 1px solid #242424;
		color: #FFF;
		box-shadow: none;

		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	} // END Form control

	.footer-contact {
		@media(max-width: 767px) {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 2px solid #222;
		}
	}

	.contact-info {
		@media(max-width: 767px) {
			text-align: center;
		}
	}
} // END Footer