#quote-form {
	padding: 60px 0;

	h4 {
		margin-bottom: 20px;
	}

	.form-group {
		overflow: hidden;
	}

	.form-control {
		background: #f4f4f4;
		border: 2px solid #f4f4f4;
		color: #999;
		box-shadow: none;
		min-height: 50px;
		padding: 10px 15px;
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;

		&:focus {
			background: transparent;
			border: 2px solid $brand-color;
		}

		@media(max-width: 767px){
			margin-bottom: 10px;
		}
	}

	select {
		height: 50px;
		color: #999;
	}

	.skills-container {
		margin: 40px 0;

		label {
			display: block;
			font-weight: 400;
			color: #666;
		}

		input[type="checkbox"] {
			margin-right: 5px;
		}
	}

	.captcha {
		label {
			font-size: 16px;
			font-weight: 400;
			padding-top: 10px;
			padding-bottom: 10px;
			margin: 0;
			display: block;
		}

		.help-block {
			margin: 0;
			padding: 10px 0;
		}
	} // Captcha
}