#services {
	padding: 60px 0;

	.title {
		margin-bottom: 30px;
		margin-top: 0;
	}

	.content {
		overflow: hidden;

		.title {
			margin-bottom: 5px;
		}
	} // END Content
} // END Services

.services-items {
	overflow: hidden;

	.item {
		position: relative;
		padding: 30px;
		min-height: 200px;
		border-bottom: 1px solid #DDD;

		&:nth-child(2), &:nth-child(4){
			border-right: none;
		}

		@media (min-width:  768px){
			border-right: 1px solid #DDD;

			&:nth-child(3), &:nth-child(4) {
				border-bottom: none;	
			}
		}

		@media (max-width: 767px) {
			&:last-child {
				border-bottom: none;
			}
		}
		
		.title {
			font-size: 18px;
			margin-bottom: 5px;
			color: $brand-color;
		}

		.icon {
			display: table-cell;
			height: 64px;
			width: 64px;
	    font-size: 34px;
	    text-align: center;
	    border: 2px solid $brand-color;
	    color: $brand-color;
	    border-radius: 4px;
	    vertical-align: middle;
		}

		.icon-wrapper {
			display: table;
			float: left;
			margin-right: 20px;
		} // END Icon wrapper
	} // END item
} // END Services items