#team {
	background: #f4f4f4;
	padding: 60px 0;

	.title {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.item {
		position: relative;
		overflow: hidden;
	} // END item

	.avatar {
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;

			@media(max-width: 991px){
				width: auto;
			}

			@media(max-width: 767px){
				width: 100%;
				height: auto;
			}
		}
	} // END Avatar

	.img-holder {
		@media(min-width: 768px){
			height: 250px;
		}
	} // END image holder

	.info {
		color: #FFF;
		height: 250px;
		position: relative;
		background: rgba(109, 193, 105, 1);

		&.odd {
			background: rgba(223, 105, 105, 1);
		}

		.row {
			padding: 15px;
		}

		h4 {
			text-align: right;
			margin-bottom: 20px;

			span, small {
				display: block;
				color: #FFF;
			}

			.name {
				margin-bottom: 5px;
			}

			small {
				font-weight: 300;
			}
		} // END H4

		a {
			color: #FFF;
		}

		.quote {
			display: block;
			height: 100px;
			font-weight: 300;
			font-size: 16px;
			margin-bottom: 20px;
		}

		.social {
			position: absolute;
			bottom: 0;
			right: 0;
			margin-bottom: 0;
			left: 5px;
			padding: 10px;
			text-align: right;

			li {
				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		} // END Social
	} // END Info
} // END Team


// Special Media query

#team {
	.item {
		@media (max-width: 479px){
			height: 250px;

			&:hover {
				.info {
					top: 0;
					left: 15px;
					right: 15px;
					bottom: 0;
				}
			}
		} // END Media Query

		@media (min-width: 480px) and (max-width: 767px){
			&:hover {
				.info {
					left: 15px;
					right: 15px;
					bottom: 0;
				}
			}
		} // End Media Query
	} // END item

	@media (max-width: 767px){
		.item {
			margin-bottom: 20px;
		}

		.info {
			position: absolute;
			background: rgba(109, 193, 105, 0.8);

			&.odd {
				background: rgba(223, 105, 105, 0.8);
			}
		}
	} // END Media Query
} // END Team
