#testimonials {
	background: url('../images/banner-stars.jpg') no-repeat #333;
	background-size: cover;
	color: #FFF;
	padding: 60px 0;

	.testimonials-wrapper {
		overflow: hidden;
		
		.item {
			border: none;
			padding-left: 40px;
			position: relative;
			line-height: 32px;
			font-weight: 300;

			&:before {
				content: "\f10d";
				position: absolute;
				font-size: 32px;
				font-family: 'fontAwesome';
				left: 0;
				top: 5px;
			}
		}

		cite {
			float: right;
			font-weight: bold;
			font-size: 18px;
		}
	}

	.owl-pagination {
		margin-top: 10px;
		text-align: center;

		.owl-page {
			display: inline-block;
			margin-right: 5px;

			&.active {
				span {
					background: #FFF;
				}			
			}

			span {
		    display: block;
		    height: 10px;
		    width: 10px;
		    background: #999;
		    border-radius: 50%;
		  }
	  } // END Owl Dot
	} // END Owl Dots
	
} // END Testimonials