#works {
	padding: 60px 0;
	
	.title {
		margin-top: 0;
		margin-bottom: 30px;		
	}

	.work-items {
		.item-wrapper {
			overflow: hidden;
			margin-bottom: 30px;
		} // END Item wrapper

		.item {
			height: 250px;
			width: 100%;
			display: table;
			table-layout: fixed;
			position: relative;
			overflow: hidden;
			background: #eee;
			text-align: center;

			&.brand-geeks {
				background: #fe5d13;
			}

			&.brand-benchmark {
				background: #2f3e75;
			}

			&.brand-enshored {
				background: #333;
			}

			&.brand-ecoart {
				background: #a8c958;

				@media(max-width: 767px){
					img {
						width: 150px;
					}
				} // Media queries
			}

			&.brand-8a {
				background: #f03c3c;
				
				img {
					width: 100px;

					@media(max-width: 767px){
						width: 150px;
					} // Media queries
				}
			}

			&.brand-privydate {
				background: #000;
			}

			.image-holder {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				padding: 30px;
				text-align: center;
			}

			img {
				transition: transform 0.6s ease-in;
				-moz-transition: transform 0.6s ease-in;
				-webkit-transition: transform 0.6s ease-in;
				margin: 0 auto;
				width: 200px;
			}


			&:hover {
				.overlay {
					top: 0;
				}

				img {
					transform: scale(1.2);
				}
			} // END Hover styles

			.overlay {
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 100%;
				background: $brand-color;

				-moz-transition: top 0.3s ease-in;
				-webkit-transition: top 0.3s ease-in;
				transition: top 0.3s ease-in;

				.info {
					color: #FFF;
					padding-top: 75px;
					margin-bottom: 20px;

					h4 {
						text-transform: uppercase;
						font-weight: 700;
						margin-top: 0;
						margin-bottom: 5px;
						font-size: 24px;
						line-height: 18px;
					}

					small {
						font-size: 14px;
					}
				}
			} // END Overlay
		} // END items
	} // END Work items
} // END Works